@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Index" asp-controller="Student"
       class="btn btn-outline-primary">
        Go to Student List
    </a>
</div>
